.summary {
	width: 16em;
	height: 1.4em;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.participant {
	color: black;
	background-color: white;
	text-align: center;
	margin-right: 0.15em;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	padding: 0.1em;
}

.date {
	text-align: right;
}

.seconds {
	top: -1.4em;
	left: 0.2em;
	position: relative;
	display: inline-block;
}